<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title></title>
</head>
<body>
	<div class="navbar">
		<h2>JAD-Washy-Washy</h2>
		<ul>
			<li><a href="#">Home</a></li>
			<li class="dropdown"><a href="#">Categories</a>
				<div class="dropdown-menu">
					<div class="dropdown-submenu">
						<a href="#">Category 1 ➔</a>
						<div class="dropdown-submenu-menu">
							<a href="#">Service 1</a> <a href="#">Service 2</a> <a href="#">Service
								3</a>
						</div>
					</div>
					<div class="dropdown-submenu">
						<a href="#">Category 2 ➔</a>
						<div class="dropdown-submenu-menu">
							<a href="#">Service 4</a> <a href="#">Service 5</a>
						</div>
					</div>
				</div></li>
			<li><a href="#">Booking</a></li>
		</ul>
		<button class="login-button">Log In</button>
	</div>
</body>
</html>
