<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<!-- Welcome file configuration to set index.jsp as the landing page -->
	<welcome-file-list>
		<welcome-file>categoryService</welcome-file>
	</welcome-file-list>

	<!-- Servlet configuration for landingPage -->
	<servlet>
		<servlet-name>landingPage</servlet-name>
		<servlet-class>controller.landingPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>landingPage</servlet-name>
		<url-pattern>/landingPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>categoryService</servlet-name>
		<servlet-class>controller.categoryService</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>categoryService</servlet-name>
		<url-pattern>/categoryService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateCategoryServlet</servlet-name>
		<servlet-class>controller.CreateCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateCategoryServlet</servlet-name>
		<url-pattern>/CreateCategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>controller.ServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/ServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>EditServiceServlet</servlet-name>
		<servlet-class>controller.EditServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditServiceServlet</servlet-name>
		<url-pattern>/EditServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>feedbackLogic</servlet-name>
		<servlet-class>controller.feedbackLogic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>feedbackLogic</servlet-name>
		<url-pattern>/feedbackLogic</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>bookingPageLogic</servlet-name>
		<servlet-class>controller.bookingPageLogic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>bookingPageLogic</servlet-name>
		<url-pattern>/bookingPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteCategoryServlet</servlet-name>
		<servlet-class>controller.DeleteCategoryServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCategoryServlet</servlet-name>
		<url-pattern>/DeleteCategoryServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteServiceServlet</servlet-name>
		<servlet-class>controller.DeleteServiceServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServiceServlet</servlet-name>
		<url-pattern>/DeleteServiceServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>handleRegisterUser</servlet-name>
		<servlet-class>controller.handleRegisterUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>handleRegisterUser</servlet-name>
		<url-pattern>/handleRegisterUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageMemberServlet</servlet-name>
		<servlet-class>controller.ManageMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ManageMemberServlet</servlet-name>
		<url-pattern>/ManageMemberServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StatisticsServlet</servlet-name>
		<servlet-class>controller.StatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticsServlet</servlet-name>
		<url-pattern>/StatisticsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>handleUpdateUser</servlet-name>
		<servlet-class>controller.handleUpdateUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>handleUpdateUser</servlet-name>
		<url-pattern>/handleUpdateUser</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>controller.logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>timeSlotLogic</servlet-name>
		<servlet-class>controller.timeSlotLogic</servlet-class>
	</servlet>
	<servlet-mapping>
    <servlet-name>timeSlotLogic</servlet-name>
    <url-pattern>/timeSlotLogicPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserServlet</servlet-name>
	    <servlet-class>controller.UserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UserServlet</servlet-name>
	    <url-pattern>/UserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserActionServlet</servlet-name>
	    <servlet-class>controller.UserActionServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UserActionServlet</servlet-name>
	    <url-pattern>/UserActionServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PromoteUserServlet</servlet-name>
	    <servlet-class>controller.PromoteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>PromoteUserServlet</servlet-name>
	    <url-pattern>/PromoteUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BlockUserServlet</servlet-name>
	    <servlet-class>controller.BlockUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>BlockUserServlet</servlet-name>
	    <url-pattern>/BlockUserServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ManageMemberServlet</servlet-name>
	    <servlet-class>controller.ManageMemberServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>ManageMemberServlet</servlet-name>
	    <url-pattern>/ManageMemberServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>washyUsers</servlet-name>
	    <servlet-class>controller.washyUsers</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>washyUsers</servlet-name>
	    <url-pattern>/washyUsers</url-pattern>
	</servlet-mapping>
		<servlet-name>cartHandler</servlet-name>
		<servlet-class>controller.cartHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cartHandler</servlet-name>
		<url-pattern>/cartHandler</url-pattern>
	</servlet-mapping>
</web-app>