<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee 
                             https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	version="5.0">

	<!-- Welcome file configuration to set index.jsp as the landing page -->
	<welcome-file-list>
		<welcome-file>categoryService</welcome-file>
	</welcome-file-list>

	<!-- Servlet configuration for landingPage -->
	<servlet>
		<servlet-name>landingPage</servlet-name>
		<servlet-class>CONTROLLER.AuthController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>landingPage</servlet-name>
		<url-pattern>/landingPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>categoryService</servlet-name>
		<servlet-class>CONTROLLER.CategoryServiceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>categoryService</servlet-name>
		<url-pattern>/categoryService</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FeedbackController</servlet-name>
		<servlet-class>CONTROLLER.FeedbackController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FeedbackController</servlet-name>
		<url-pattern>/FeedbackController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BookingController</servlet-name>
		<servlet-class>CONTROLLER.BookingController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BookingController</servlet-name>
		<url-pattern>/bookingPage</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>StatisticsServlet</servlet-name>
		<servlet-class>CONTROLLER.StatisticsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>StatisticsServlet</servlet-name>
		<url-pattern>/StatisticsServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>CONTROLLER.logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TimeSlotController</servlet-name>
		<servlet-class>CONTROLLER.TimeSlotController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TimeSlotController</servlet-name>
		<url-pattern>/TimeSlotController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>cartHandler</servlet-name>
		<servlet-class>CONTROLLER.cartHandler</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cartHandler</servlet-name>
		<url-pattern>/cartHandler</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ServiceController</servlet-name>
		<servlet-class>CONTROLLER.ServiceController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ServiceController</servlet-name>
		<url-pattern>/ServiceController/*</url-pattern>
	</servlet-mapping>
	<!-- Category Servlet Configuration -->
	<servlet>
		<servlet-name>CategoryController</servlet-name>
		<servlet-class>CONTROLLER.CategoryController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CategoryController</servlet-name>
		<url-pattern>/CategoryController/*</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UserController</servlet-name>
		<servlet-class>CONTROLLER.UserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserController</servlet-name>
		<url-pattern>/UserController</url-pattern>
	</servlet-mapping>
</web-app>